{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h1 id="nombreTrimestre">{{ trimestre.nombre }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h3 id="estadoTrimestre">Estado: {{ 'Abierto' if trimestre.activo else 'Cerrado'  }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>Notas aprobadas</td>
                    <td id="notasAprobadas">{{ notas_aprobadas }} / {{ total }}</td>
                </tr>
                <tr>
                    <td>Notas cerradas</td>
                    <td id="notasCerradas">{{ notas_cerradas }} / {{ total }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <button id="boton_comenzar" class="btn btn-default btn-block">
                {{ 'Cerrar Periodo' if trimestre.activo else 'Comenzar Periodo'  }}
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Administradores:</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group" id="system_admins">
            {% for user in admins %}
                <li class="list-group-item" id="{{ user.nombre }}">{{ user.nombre }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <button id="boton_add" class="btn btn-default btn-block">
                Agregar
        </button>
        <button id="boton_del" class="btn btn-default btn-block">
                Eliminar
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Lectores:</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <ul class="list-group" id="system_lectores">
            {% for user in lectores %}
                <li class="list-group-item" id="{{ user.nombre }}">{{ user.nombre }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <button id="boton_add_lector" class="btn btn-default btn-block">
                Agregar
        </button>
        <button id="boton_del_lector" class="btn btn-default btn-block">
                Eliminar
        </button>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    // When the user clicks the button, open the modal 
    document.getElementById("boton_comenzar").onclick = function() {
        document.getElementById('confirmModalText').innerHTML = document.getElementById('boton_comenzar').innerHTML;
        if (document.getElementById('boton_comenzar').innerHTML == "Cerrar Periodo") {
            document.getElementById('closeExplanation').innerHTML = "Todas las notas del proceso quedarán cerradas y el trimestre quedará inactivo";
        } else {
            document.getElementById('closeExplanation').innerHTML = "Se abrirá un nuevo trimestre, usando como base las notas del trimestre pasado y su última versión como carga inicial";
        }
        document.getElementById('confirmModal').style.display = "block";
    };

    $("#confirmar_cierre").click(function() {
        $.post("{{ url_for('cierres') }}", function(data) {
            flash(data['msg'], data['tipo']);
            if (data['cerrado']) {
                document.getElementById('boton_comenzar').innerHTML = 'Comenzar Perido';
                document.getElementById('estadoTrimestre').innerHTML = 'Estado: Cerrado';
                document.getElementById('notasCerradas').innerHTML = data['notas_cerradas'];
            } else {
                document.getElementById('boton_comenzar').innerHTML = 'Cerrar Periodo';
                document.getElementById('estadoTrimestre').innerHTML = 'Estado: Abierto';
                document.getElementById('notasCerradas').innerHTML = data['notas_cerradas'];
                document.getElementById('notasAprobadas').innerHTML = data['notas_cerradas'];
                document.getElementById('nombreTrimestre').innerHTML = data['nombre_trimestre'];
            }
            closeConfirmModal();
        });
    });

    // When the user clicks the button, open the modal 
    document.getElementById("boton_add").onclick = function() {
        add_list_to_table('{{ not_admins|tojson }}', 'sel1');
        document.getElementById('addAdminModal').style.display = "block";
    };

    document.getElementById("boton_add_lector").onclick = function() {
        add_list_to_table('{{ not_lectores|tojson }}', 'sel3');
        document.getElementById('addLectorModal').style.display = "block";
    };

    $("#confirmAddAdmin").click(function() {
        $.post("{{ url_for('add_admin') }}", data={'user': document.getElementById("sel1").value}, function(data) {
            flash(data['msg'], data['tipo']);
            closeAddAdminModal();
            var ul = document.getElementById("system_admins");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(document.getElementById("sel1").value));
            li.setAttribute("class", "list-group-item", "id", document.getElementById("sel1").value)
            ul.appendChild(li);
        });
    });

    $("#confirmAddLector").click(function() {
        $.post("{{ url_for('add_lector') }}", data={'user': document.getElementById("sel3").value}, function(data) {
            flash(data['msg'], data['tipo']);
            closeAddLectorModal();
            var ul = document.getElementById("system_lectores");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(document.getElementById("sel3").value));
            li.setAttribute("class", "list-group-item", "id", document.getElementById("sel3").value)
            ul.appendChild(li);
        });
    });

    // When the user clicks the button, open the modal 
    document.getElementById("boton_del").onclick = function() {
        add_list_to_table('{{ admins2|tojson }}', 'sel2');
        document.getElementById('delAdminModal').style.display = "block";
    };

    $("#confirmDelAdmin").click(function() {
        $.post("{{ url_for('del_admin') }}", data={'user': document.getElementById("sel2").value}, function(data) {
            flash(data['msg'], data['tipo']);
            closeDelAdminModal();
            var item = document.getElementById(document.getElementById("sel2").value);
            item.parentNode.removeChild(item);
        });
    });

    function add_list_to_table (lista, table) {
        var values = JSON.parse(lista);
        var tabla = document.getElementById(table);
        tabla.value = "Ninguno";
        if (tabla.length == 1) {
            for (var i = 0; i < values.length; i++) {
                var option = document.createElement("option");
                option.text = values[i]['nombre'];
                tabla.add(option); 
            }
        }
    }

    document.getElementById("boton_del_lector").onclick = function() {
        add_list_to_table('{{ lectores|tojson }}', 'sel4');
        document.getElementById('delLectorModal').style.display = "block";
    };

    $("#confirmDelLector").click(function() {
        $.post("{{ url_for('del_lector') }}", data={'user': document.getElementById("sel4").value}, function(data) {
            flash(data['msg'], data['tipo']);
            closeDelLectorModal();
            location.reload();
        });
    });    
</script>
{% endblock %}
