{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Nota {{ num }}</h2>
<h3>{{ nombre }}</h3>

<div class="row">
    <div class="col-md-4">
        <h4>Redactores:</h4>
        <ul class="list-group">
            {% for redactor in redactores %}
                {% if estados_aprobacion[redactor.sigla] %}
                    <li class="list-group-item">{{ redactor.sigla }} {{ redactor.nombre }} <i class="fa fa-square" style="font-size:24px;color:green"></i></li>
                {% else %}
                    <li class="list-group-item">{{ redactor.sigla }} {{ redactor.nombre }} <i class="fa fa-square-o" style="font-size:24px;color:green"></i></li>
                {% endif %}
            {% endfor %}
        </ul>
        <h4>Aprobadores:</h4>
        <ul class="list-group">
            {% for aprobador in aprobadores %}
                {% if estados_aprobacion[aprobador.sigla] %}
                    <li class="list-group-item">{{ aprobador.sigla }} {{ aprobador.nombre }} <i class="fa fa-square" style="font-size:24px;color:green"></i></li>
                {% else %}
                    <li class="list-group-item">{{ aprobador.sigla }} {{ aprobador.nombre }} <i class="fa fa-square-o" style="font-size:24px;color:green"></i></li>
                {% endif %}
            {% endfor %}
        </ul>
        <h4>Comentadores:</h4>
        <ul class="list-group">
            {% for comentador in comentadores %}
                <li class="list-group-item">{{ comentador.sigla }} {{ comentador.nombre }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <h4>Redacciones</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            {% for version in redacciones %}
                                <tr>
                                    <td>{{ version.redactor.sigla }}_{{ version.fecha.strftime('%m_%d') }}</td>
                                    <td>{{ version.nombre }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Comentarios</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            {% for comentario in comentarios %}
                                <tr>
                                    <td>{{ comentario.redactor.sigla }}_{{ comentario.fecha.strftime('%m_%d') }}</td>
                                    <td>{{ comentario.nombre }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p><a class="btn btn-default btn-block">Cargar </a></p>
            </div>
            <div class="col-md-2">
                <p><a class="btn btn-default btn-block">Comentar </a></p>
            </div>
            <div class="col-md-2">
                <!-- TODO javascript de Aprobar - Desaprobar -->
                <p><a class="btn btn-default btn-block">Aprobar/Desaprobar </a></p>
            </div>
            <div class="col-md-2">
                <p><a class="btn btn-default btn-block" href="{{ url_for('notas') }}">Volver </a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
