{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>Notas</h2>
<h3>{{ user.nombre }}</h3>

<div class="row">
    <div class="col-md-4">
        <h4>Redacciones</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>yo - full</th>
                        <th>Nota</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for version in redacciones %}
                    <!-- TODO: usar template inclusion para esta tabla! -->
                        <tr> 
                            {% if version.estados_aprobacion[user.user_id] %}
                                {% if version.full_aprobado %}
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i> <i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                {% else %}
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i> <i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                {% endif %}
                            {% else %}
                                {% if version.full_aprobado %}
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i> <i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                {% else %}
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i> <i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                {% endif %}
                            {% endif %}
                            <td><a href="{{ url_for('nota_panel', num=version.num) }}"> {{ version.num }} </a></td>
                            <td><a href="{{ url_for('nota_panel', num=version.num) }}">{{ version.nombre }} </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Aprobaciones</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>yo - full</th>
                        <th>Nota</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for aprobacion in aprobaciones %}
                        <tr>
                            {% if aprobacion.estados_aprobacion[user.user_id] %}
                                {% if aprobacion.full_aprobado %}
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i> <i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                {% else %}
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i> <i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                {% endif %}
                            {% else %}
                                {% if aprobacion.full_aprobado %}
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i> <i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                {% else %}
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i> <i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                {% endif %}
                            {% endif %}
                            <td><a href="{{ url_for('nota_panel', num=aprobacion.num) }}">{{ aprobacion.num }}</a></td>
                            <td><a href="{{ url_for('nota_panel', num=aprobacion.num) }}">{{ aprobacion.nombre }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Comentarios</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>full</th>
                        <th>Nota</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for comentario in comentarios %}
                        <tr>
                            {% if comentario.full_aprobado %}
                                <td><i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                            {% else %}
                                <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                            {% endif %}
                            <td><a href="{{ url_for('nota_panel', num=comentario.num) }}">{{ comentario.num }}</a></td>
                            <td><a href="{{ url_for('nota_panel', num=comentario.num) }}">{{ comentario.nombre }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <p><a id="downloadReportButton" class="btn btn-default btn-block">Descargar reporte</a></p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default btn-block" href="{{ url_for('logout') }}">Salir</a></p>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}

{% block scripts %}
<script>
    document.getElementById("downloadReportButton").onclick = function() {
        document.getElementById('reportModal').style.display = "block";
    };

    document.getElementById("reportModalDownload").onclick = function() {
        var modo = null;

        if (document.getElementById('tab-compress').checked) {
            modo = 'compress';
        }
        else if (document.getElementById('tab-compile').checked) {
            modo = 'compile';
        }
        if (modo) {
            document.getElementById('report-link-' + modo).click();
            setTimeout(function(){ closeReportModal(); }, 2000);
        }
    };
</script>
{% endblock %}
