{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<h2>Nota {{ nota.num }}</h2>
<h3>{{ nota.nombre }}</h3>

<div class="row">
    <div class="col-md-4">
        <h4>Redactores:</h4>
        <ul class="list-group">
            {% for redactor in nota.redactores %}
                <li class="list-group-item"><i id="estado-aprobacion-{{ redactor.user_id }}" class="fa-square 
                    {{ 'fas' if nota.estados_aprobacion[redactor.user_id] else 'far' }}
                    " style="vertical-align:sub;font-size:24px;color:green"></i> {{ redactor.iniciales }} {{ redactor.nombre }} 
                </li>
            {% endfor %}
        </ul>
        <h4>Aprobadores:</h4>
        <ul class="list-group">
            {% for aprobador in nota.aprobadores %}
                <li class="list-group-item"><i id="estado-aprobacion-{{ aprobador.user_id }}" class="fa-square 
                    {{ 'fas' if nota.estados_aprobacion[aprobador.user_id] else 'far' }}
                    " style="vertical-align:sub;font-size:24px;color:green"></i> {{ aprobador.iniciales }} {{ aprobador.nombre }} </li>
            {% endfor %}
        </ul>
        <h4>Comentadores:</h4>
        <ul class="list-group">
            {% for comentador in nota.comentadores %}
                <li class="list-group-item">{{ comentador.iniciales }} {{ comentador.nombre }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <h4>Redacciones</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            {% for version in nota.versiones %}
                                <tr id="{{ version.id }}" ondblclick="downloadVersion(this.id)">
                                    <td>{{ version.redactor.iniciales }}_{{ version.fecha.strftime('%m_%d') }}</td>
                                    <td>{{ version.nombre }}</td>
                                    <a id="download-{{ version.id }}" href="{{ url_for('download', version_id=version.id) }}"></a>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Comentarios</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="comments_table">
                        <tbody>
                            {% for comentario in nota.comentarios %}
                                <tr onclick="verComentario('{{ loop.index }}')">
                                    <td>
                                        <div class="popup">{{ comentario.redactor.iniciales }}_{{ comentario.fecha.strftime('%m_%d') }}
                                            <span class="popuptext" id="popup-comentario-{{ loop.index }}">{{ comentario.contenido  }}</span>
                                        </div>
                                    </td>
                                    <td>{{ comentario.nombre }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            {% if user in nota.redactores %}
                <div class="col-md-3">
                    <button id="uploadButton" class="btn btn-default btn-block">
                        <i class="far fa-file-word"></i> Cargar
                    </button>
                </div>

                <div class="col-md-3">
                    <button id="boton_comentar" class="btn btn-default btn-block">
                        <i class="far fa-comment-alt"></i> Comentar
                    </button>
                </div>
                <div class="col-md-3">
                    <button id="boton-aprobacion" class="btn btn-default btn-block">
                            <i class="fas {{ 'fa-times' if nota.estados_aprobacion[session['user_id']] else 'fa-check' }}"></i>
                            <span>
                                {{ 'Desaprobar' if nota.estados_aprobacion[session['user_id']] else 'Aprobar' }}
                            </span>
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default btn-block">
                        <i class="fas fa-arrow-left"></i> Volver
                    </button>
                </div>
            {% elif user in nota.aprobadores %}
                <div class="col-md-4">
                    <button id="boton_comentar" class="btn btn-default btn-block">
                        <i class="far fa-comment-alt"></i> Comentar
                    </button>
                </div>
                <div class="col-md-4">
                    <button id="boton-aprobacion" class="btn btn-default btn-block">
                        <i class="fas {{ 'fa-times' if nota.estados_aprobacion[session['user_id']] else 'fa-check' }}"></i>
                        <span>
                            {{ 'Desaprobar' if nota.estados_aprobacion[session['user_id']] else 'Aprobar' }}
                        </span>
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-default btn-block">
                        <i class="fas fa-arrow-left"></i> Volver
                    </button>
                </div>

            {% else %}
                <div class="col-md-6">
                    <button class="btn btn-default btn-block">
                        <i class="far fa-comment-alt"></i> Comentar
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-default btn-block">
                        <i class="fas fa-arrow-left"></i> Volver
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="commentModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Nuevo Comentario</h2>
        </div>
        <div class="modal-body">
            <!-- Use textarea instead? -->
            <input type="text" class="form-control" id="comment" placeholder="Ingrese el comentario"><br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><button class="btn btn-success btn-block" id="confirm_comment"> Confirmar</button></div>
                <div class="col-md-3"><button class="btn btn-danger btn-block" id="cancel_comment"> Cancelar</button></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<div id="uploadModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="closeUploadModal" class="close">&times;</span>
            <h2>Cargar Nueva Versi&oacute;n</h2>
        </div>
        <div class="modal-body">
            <div style="padding: 10px 0 10px 0;">
                <strong id="filename">Ning&uacute;n archivo elegido</strong>
                <span id="filesize" style="position:absolute;left:80%;"></span>
            </div>
            <form id="fileForm" action="#" method="POST" enctype=multipart/form-data>
                <div class="checkbox">
                    <label style="vertical-align: text-top;">
                        <input type="checkbox" value="">
                        Borrador
                    </label>
                </div>
                <div style='display: none'>
                    <input id="fileInput" type="file" name ="file" onchange="fileLoaded(this)">
                </div>
                <div style='display: none'>
                    <input id="fileSubmit" type="submit">
                </div>
            </form>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <label id="fileInputLabel" for="fileInput" class="btn btn-default btn-block">
                        Explorar...
                    </label>
                </div>
                <div class="col-md-4">
                    <label id="fileSubmitLabel" for="fileSubmit" class="btn btn-success btn-block" id="fileSubmit">
                        Cargar version
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
    
{% block scripts %}
<script>
    $(document).ready(function() {
        console.log("ready");
    });

    $("#boton-aprobacion").click(function() { // TODO: change button name at first, then validate
        var text = $(this).find('span')[0];
        var icon = $(this).find('i')[0];
        var aprobacion = document.getElementById("estado-aprobacion-{{ session['user_id'] }}");
        icon.className = "fas fa-spinner fa-spin";
        $.post("{{ url_for('approval') }}", {'nota': '{{ nota.num  }}'}, function(data) {
            flash(data['msg'], data['tipo']);
            if (data['aprobado']) {
                icon.className = "fas fa-times"
                text.innerHTML = 'Desaprobar';
            } else {
                icon.className = "fas fa-check"
                text.innerHTML = 'Aprobar';
            }
            aprobacion.classList.toggle('far');
            aprobacion.classList.toggle('fas');
        });
    });


    function fileLoaded(obj){
        var file = obj.files[0];
        document.getElementById("filename").innerHTML = file.name;
        document.getElementById("filesize").innerHTML = (file.size/(1024 * 1024)).toFixed(2) + " MB";
        event.preventDefault();
    }

    function resetUploadModal() {
        document.getElementById("fileForm").reset();
        document.getElementById("filename").innerHTML = "Ning&uacute;n archivo elegido";
        document.getElementById("filesize").innerHTML = ''
    }

    // Get the modal
    var modal = document.getElementById('commentModal');

    // Get the button that opens the modal
    var btn = document.getElementById("boton_comentar");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    $("#confirm_comment").click(function(a) {
        var comentario = document.getElementById("comment").value;
        $.post("{{ url_for('comment') }}", data={'nota': '{{ nota.num }}', 'comment': comentario}, function(data) {
            flash(data['msg'], data['tipo']);
            modal.style.display = "none";
            document.getElementById("comment").value = ''; // Clear form
            
            // Update view
            var num_row = $('#comments_table tr').length + 1;
            var comment_info = `
            <div class="popup">${data['info']}
                <span class="popuptext" id="popup-comentario-${num_row}">${data['contenido']}</span>
            </div>
            `;
            var comment_name = data['nombre'];
            var row = document.getElementById("comments_table").insertRow(-1);
            row.insertCell(0).innerHTML = comment_info;
            row.insertCell(1).innerHTML = comment_name;
            row.onclick = function() {
                verComentario(num_row);
            };
        });
    });

    document.getElementById("cancel_comment").onclick = function() {
        document.getElementById("comment").value = ''; // Clear form
        modal.style.display = "none"; 
    };

    function verComentario(i) {
        var popup = document.getElementById("popup-comentario-" + i);
        popup.classList.toggle("show");
    }

    function downloadVersion(num) {
        document.getElementById('download-' + num).click();
    }

    var uploadModal = document.getElementById('uploadModal');

    var open = document.getElementById("uploadButton");

    var close = document.getElementById('closeUploadModal');

    // When the user clicks on the button, open the modal 
    open.onclick = function() {
        uploadModal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    close.onclick = function() {
        uploadModal.style.display = "none";
        resetUploadModal();
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == uploadModal) {
            uploadModal.style.display = "none";
            resetUploadModal();
        };
    }

</script>
{% endblock %}
