{% extends "layout.html" %}

{% block content %}

<div id="createNotaModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="closeCreateNotaModal" class="close" style="padding-top:10px;">&times;</span>
            <h2>Nota:</h2>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group row">
                            <label for="inputNumero" class="col-md-2 col-form-label">N&uacute;mero</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputNumero" placeholder="Número o rango">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputDescripcion" class="col-md-2 col-form-label">Descripci&oacute;n</label>
                            <div class="col-md-10">
                                <textarea type="text" class="form-control" rows="2" id="inputDescripcion" placeholder="Estados consolidados"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputRedactores" class="col-md-2 col-form-label">Redactores</label>
                            <div class="col-md-10">
                                <select id="inputRedactores" class="selectpicker" multiple>
                                    {% for user in users %}
                                        <option>{{ user.nombre }}</option>
                                    {% endfor %}
                                </select>               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputAprobadores" class="col-md-2 col-form-label">Aprobadores</label>
                            <div class="col-md-10">
                                <select id="inputAprobadores" class="selectpicker" multiple>
                                    {% for user in users %}
                                        <option>{{ user.nombre }}</option>
                                    {% endfor %}
                                </select>               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputComentadores" class="col-md-2 col-form-label">Comentadores</label>
                            <div class="col-md-10">
                                <select id="inputComentadores" class="selectpicker" multiple>
                                    {% for user in users %}
                                        <option>{{ user.nombre }}</option>
                                    {% endfor %}
                                </select>               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row"><p></p></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><button class="btn btn-success btn-block" id="confirmCreateNota"> Confirmar</button></div>
                <div class="col-md-3"><button class="btn btn-danger btn-block" id="cancelCreateNota"> Cancelar</button></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<div id="editNotaModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="closeEditNotaModal" class="close" style="padding-top:10px;">&times;</span>
            <h2>Nota:</h2>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group row">
                            <label for="inputNumero2" class="col-md-2 col-form-label">N&uacute;mero</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputNumero2" placeholder="Número o rango">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputDescripcion2" class="col-md-2 col-form-label">Descripci&oacute;n</label>
                            <div class="col-md-10">
                                <textarea type="text" class="form-control" rows="2" id="inputDescripcion2" placeholder="Estados consolidados"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputRedactores2" class="col-md-2 col-form-label">Redactores</label>
                            <div class="col-md-10">
                                <select id="inputRedactores2" class="selectpicker" multiple>
                                    {% for user in users %}
                                        <option>{{ user.nombre }}</option>
                                    {% endfor %}
                                </select>               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputAprobadores2" class="col-md-2 col-form-label">Aprobadores</label>
                            <div class="col-md-10">
                                <select id="inputAprobadores2" class="selectpicker" multiple>
                                    {% for user in users %}
                                        <option>{{ user.nombre }}</option>
                                    {% endfor %}
                                </select>               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputComentadores2" class="col-md-2 col-form-label">Comentadores</label>
                            <div class="col-md-10">
                                <select id="inputComentadores2" class="selectpicker" multiple>
                                    {% for user in users %}
                                        <option>{{ user.nombre }}</option>
                                    {% endfor %}
                                </select>               
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row"><p></p></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><button class="btn btn-success btn-block" id="confirmEditNota"> Confirmar</button></div>
                <div class="col-md-3"><button class="btn btn-danger btn-block" id="cancelEditNota"> Cancelar</button></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Notas</h2>
        <h3>{{ user.nombre }}</h3>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <div id="dropdown-trimestres" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" 
            style="margin-top: 10%; width: 100%;">
                <span id="current-trimestre"> {{ trimestre.nombre }} </span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for _trimestre in trimestres %}
                <li
                {% if _trimestre == trimestre %}
                    class="active"
                {% endif %}
                >
                    <a href="{{ url_for('change_trimestre', trimestre_id=_trimestre.id) }}"> {{ _trimestre.nombre }} </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive" style="height: 65vh; overflow: auto; margin-bottom: 15px">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            <i class="fas fa-user" style="font-size:20px;"></i>
                        </th>
                        <th class="text-center">
                            <i class="fas fa-users" style="font-size:20px;"></i>
                        </th>
                        <th class="text-center">Nota</th>
                        <th>T&iacute;tulo</th>
                        <th>Permisos</th>
                        {% if session['admin'] and session['is_last_trimestre'] %}
                            <th>Editar</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <!-- Notas en las que soy Redactor -->
                    {% for version in redacciones %}
                    <!-- TODO: usar template inclusion para esta tabla! -->
                        <tr class="text-center"> 
                            {% if version.estados_aprobacion[user.user_id] %}
                                {% if version.full_aprobado %}
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                {% else %}
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                {% endif %}
                            {% else %}
                                {% if version.full_aprobado %}
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                {% else %}
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                {% endif %}
                            {% endif %}
                            <td><a href="{{ url_for('nota_panel', num=version.num) }}"> {{ version.num }} </a></td>
                            <td class="text-left"><a href="{{ url_for('nota_panel', num=version.num) }}"> {{ version.nombre }} </a></td>
                            <td>Redactor</td>
                            {% if session['admin'] and session['is_last_trimestre'] %}
                                <td>
                                    <a href="#" onclick="editNota('{{ version.id }}')">
                                        <i class="fa fa-edit" style="font-size:24px;"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    
                    <!-- Notas en las que soy aprobador -->
                    {% for aprobacion in aprobaciones %}
                        <tr class="text-center">
                            {% if aprobacion.estados_aprobacion[user.user_id] %}
                                {% if aprobacion.full_aprobado %}
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                {% else %}
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                {% endif %}
                            {% else %}
                                {% if aprobacion.full_aprobado %}
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                    <td><i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                                {% else %}
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                    <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                                {% endif %}
                            {% endif %}
                            <td><a href="{{ url_for('nota_panel', num=aprobacion.num) }}">{{ aprobacion.num }}</a></td>
                            <td class="text-left"><a href="{{ url_for('nota_panel', num=aprobacion.num) }}">{{ aprobacion.nombre }}</a></td>
                            <td>Aprobador</td>
                            {% if session['admin'] and session['is_last_trimestre'] %}
                                <td>
                                    <a href="#" onclick="editNota('{{ aprobacion.id }}')">
                                        <i class="fa fa-edit" style="font-size:24px;"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                    <!-- Notas en las que soy Comentador -->
                    {% for comentario in comentarios %}
                        <tr class="text-center">
                            <td>-</td>
                            {% if comentario.full_aprobado %}
                                <td><i class="fa fa-square" style="font-size:24px;color:green"></i></td>
                            {% else %}
                                <td><i class="fa fa-square-o" style="font-size:24px;color:green"></i></td>
                            {% endif %}
                            <td><a href="{{ url_for('nota_panel', num=comentario.num) }}">{{ comentario.num }}</a></td>
                            <td class="text-left"><a href="{{ url_for('nota_panel', num=comentario.num) }}">{{ comentario.nombre }}</a></td>
                            <td>Comentador</td>
                            {% if session['admin'] and session['is_last_trimestre'] %}
                                <td>
                                    <a href="#" onclick="editNota('{{ comentario.id }}')">
                                        <i class="fa fa-edit" style="font-size:24px;"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    {% if session['admin'] and session['is_last_trimestre'] %}
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <p><a id="downloadReportButton" class="btn btn-default btn-block">
                <i class="fas fa-download"></i>
                Descargar reporte
            </a></p>
        </div>
        <div class="col-md-2">
            <button id="createNotaBoton" class="btn btn-default btn-block">
                    <i class="fas fa-plus"></i>
                    Crear Nota
            </button>
        </div>
        <div class="col-md-2">
            <p><a class="btn btn-default btn-block" href="{{ url_for('logout') }}">
                <i class="fas fa-sign-out-alt"></i>
                Salir
            </a></p>
        </div>
        <div class="col-md-3"></div>
    {% else %}
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <p><a id="downloadReportButton" class="btn btn-default btn-block">
                <i class="fas fa-download"></i>
                Descargar reporte
            </a></p>
        </div>
        <div class="col-md-2">
            <p><a class="btn btn-default btn-block" href="{{ url_for('logout') }}">
                <i class="fas fa-sign-out-alt"></i>
                Salir
            </a></p>
        </div>
        <div class="col-md-4"></div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script>    
    document.getElementById("downloadReportButton").onclick = function() {
        document.getElementById('reportModal').style.display = "block";
    };

    document.getElementById("reportModalDownload").onclick = function() {
        var modo = null;

        if (document.getElementById('tab-compress').checked) {
            modo = 'compress';
        }
        else if (document.getElementById('tab-compile').checked) {
            modo = 'compile';
        }
        if (modo) {
            document.getElementById('report-link-' + modo).click();
            setTimeout(function(){ closeReportModal(); }, 2000);
        }
    };

    // When the user clicks the button, open the modal 
    document.getElementById("createNotaBoton").onclick = function() {
        document.getElementById('createNotaModal').style.display = "block";
    };

    $("#confirmCreateNota").click(function() {
        $.post("{{ url_for('add_nota') }}", data={'numero': document.getElementById('inputNumero').value, 'descripcion': document.getElementById("inputDescripcion").value, 'redactores': $('#inputRedactores').val(), 'aprobadores': $('#inputAprobadores').val(), 'comentadores': $('#inputComentadores').val()}, function(data) {
            flash(data['msg'], data['tipo']);
            closeCreateNotaModal();
            location.reload(); // TODO: Agregar a la tabla si es que es necesario y con rol correcto
        });
    });

    function editNota(id_nota) {
        $.post("{{ url_for('get_nota_info') }}", data={'id_nota': id_nota}, function(data) {
            document.getElementById('inputNumero2').value = data['num'];
            document.getElementById('inputDescripcion2').value = data['nombre'];
            document.getElementById('confirmEditNota').value = id_nota;
            document.getElementById('editNotaModal').style.display = "block";
        });
    }

    $("#confirmEditNota").click(function() {
        $.post("{{ url_for('edit_nota') }}", data={'id_nota': document.getElementById('confirmEditNota').value, 'numero': document.getElementById('inputNumero2').value, 'descripcion': document.getElementById("inputDescripcion2").value, 'redactores': $('#inputRedactores2').val(), 'aprobadores': $('#inputAprobadores2').val(), 'comentadores': $('#inputComentadores2').val()}, function(data) {
            flash(data['msg'], data['tipo']);
            closeEditNotaModal();
            location.reload(); // TODO: Sacar de la tabla
        });
    });

</script>
{% endblock %}
