{% extends "layout.html" %}

{% block content %}

<h4>Notas</h4>
<h3>{{ user }}</h3>

<div class="row">
    <div class="col-md-4">
        <h4>Redacciones</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    {% for version in redacciones %}
                        <tr>
                            <td><a href="{{ url_for('nota_panel', num=version.num) }}"> {{ version.num }} </a></td>
                            <td><a href="{{ url_for('nota_panel', num=version.num) }}">{{ version.nombre }} </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Aprobaciones</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    {% for aprobacion in aprobaciones %}
                        <tr>
                            <td><a href="{{ url_for('nota_panel', num=aprobacion.num) }}">{{ aprobacion.num }}</a></td>
                            <td><a href="{{ url_for('nota_panel', num=aprobacion.num) }}">{{ aprobacion.nombre }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Comentarios</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    {% for comentario in comentarios %}
                        <tr>
                            <td><a href="{{ url_for('nota_panel', num=comentario.num) }}">{{ comentario.num }}</a></td>
                            <td><a href="{{ url_for('nota_panel', num=comentario.num) }}">{{ comentario.nombre }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <p><a class="btn btn-default btn-block">Descargar </a></p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default btn-block">Salir </a></p>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}
