{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h2>Nota {{ nota.num }} {{ '- Cerrada' if nota.cerrada else ''}}</h2>
        <h3>{{ nota.nombre }}</h3>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <div id="dropdown-versiones" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" 
            style="margin-top: 10%; width: 100%;">
                <span id="current-version">
                    {{ version.nombre_creacion }} &#8739; {{ version.nombre }}
                </span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for _version in nota.versiones %}
                    <li onclick="selectVersion(parseInt('{{ loop.index0 }}'))"
                    {% if _version == version %}
                        class="active"
                    {% endif %}
                    >
                        <a href="#">{{ _version.nombre_creacion }} &#8739; {{ _version.nombre }}</a>
                    </li>
                    <a href="{{ url_for('download_version', version_id=_version.id) }}"></a>
                    {% if loop.index == 1 %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <button class="btn btn-default btn-block" style="margin-top: 5%;"
        onclick="$('#dropdown-versiones .active ~ a')[0].click();">
            <i class="fas fa-download"></i>
            Descargar Versi&oacute;n
        </button>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h4>Redactores</h4>
        <ul class="list-group">
            {% for redactor in nota.redactores %}
                <li class="list-group-item"><i id="estado-aprobacion-{{ redactor.user_id }}" class="fa-square 
                    {{ 'fas' if nota.estados_aprobacion[redactor.user_id] else 'far' }}
                    " style="vertical-align:sub;font-size:24px;color:green"></i> {{ redactor.iniciales }} {{ redactor.nombre }} 
                </li>
            {% endfor %}
        </ul>
        <h4>Aprobadores</h4>
        <ul class="list-group">
            {% for aprobador in nota.aprobadores %}
                <li class="list-group-item"><i id="estado-aprobacion-{{ aprobador.user_id }}" class="fa-square 
                    {{ 'fas' if nota.estados_aprobacion[aprobador.user_id] else 'far' }}
                    " style="vertical-align:sub;font-size:24px;color:green"></i> {{ aprobador.iniciales }} {{ aprobador.nombre }} </li>
            {% endfor %}
        </ul>
        <h4>Comentadores</h4>
        <ul class="list-group">
            {% for comentador in nota.comentadores %}
                <li class="list-group-item">{{ comentador.iniciales }} {{ comentador.nombre }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
        <div class="row">
            <h4>Comentarios</h4>
            {% for _version in nota.versiones %}
                {% set outer_loop = loop %} 
                <div class="table-responsive comments_table_div" id="comments_table_div_{{ outer_loop.index0 }}"
                {% if not outer_loop.last %}
                    style="display:none;"
                {% endif %}
                >
                    <table class="table table-bordered table-hover" id="comments_table_{{ outer_loop.index0 }}">
                        <tbody>
                            {% for comentario in _version.comentarios %}
                                {% set identifier = '%s-%s'|format(outer_loop.index0,loop.index0) %}
                                <tr class="row" onclick="verComentario('{{ identifier }}')">
                                    <td class="col-md-2 text-center">
                                        {{ comentario.nombre_creacion }}
                                    </td>
                                    <td class="col-md-9">
                                        {{ truncate_popover(comentario.contenido, "popup-comentario-" + identifier, 80) }}
                                    </td>
                                    <td class="col-md-1 text-center">
                                        {{ comentario.nombre }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
        <div class="row" id="botones">
            {% if user in nota.redactores %}
                <div class="col-md-3">
                    <button id="uploadButton" class="btn btn-default btn-block">
                        <i class="far fa-file-word"></i> Cargar
                    </button>
                </div>

                <div class="col-md-3">
                    <button id="boton_comentar" class="btn btn-default btn-block">
                        <i class="far fa-comment-alt"></i> Comentar
                    </button>
                </div>
                <div class="col-md-3">
                    <button id="boton-aprobacion" class="btn btn-default btn-block">
                            <i class="fas {{ 'fa-times' if nota.estados_aprobacion[session['user_id']] else 'fa-check' }}"></i>
                            <span>
                                {{ 'Desaprobar' if nota.estados_aprobacion[session['user_id']] else 'Aprobar' }}
                            </span>
                    </button>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-default btn-block" href="{{ url_for('notas') }}">
                        <i class="fas fa-arrow-left"></i> Volver
                    </a>
                </div>
            {% elif user in nota.aprobadores %}
                <div class="col-md-4">
                    <button id="boton_comentar" class="btn btn-default btn-block">
                        <i class="far fa-comment-alt"></i> Comentar
                    </button>
                </div>
                <div class="col-md-4">
                    <button id="boton-aprobacion" class="btn btn-default btn-block">
                        <i class="fas {{ 'fa-times' if nota.estados_aprobacion[session['user_id']] else 'fa-check' }}"></i>
                        <span>
                            {{ 'Desaprobar' if nota.estados_aprobacion[session['user_id']] else 'Aprobar' }}
                        </span>
                    </button>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-default btn-block" href="{{ url_for('notas') }}">
                        <i class="fas fa-arrow-left"></i> Volver
                    </a>
                </div>

            {% else %}
                <div class="col-md-6">
                    <button id="boton_comentar" class="btn btn-default btn-block">
                        <i class="far fa-comment-alt"></i> Comentar
                    </button>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-default btn-block" href="{{ url_for('notas') }}">
                        <i class="fas fa-arrow-left"></i> Volver
                    </a>
                </div>
            {% endif %}
        </div>
        {% if session['admin'] %}
            <div align="center" class="col-md-12" style="padding-top: 15px;">
                <button id="boton-cerrar-nota" class="btn btn-default" style="width: 200px;">
                    <i class="fa {{ 'fa-check-circle-o' if nota.cerrada else 'fa-ban' }}"></i>
                    <span>
                        {{ 'Abrir Nota' if nota.cerrada else 'Cerrar Nota' }}
                    </span>
                </button>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
    
{% block scripts %}

<script>
    $(document).ready(function() {
        console.log("ready");
        if ("{{ trimestre.activo }}" == "False" || "{{ nota.cerrada }}" == "True") {
            $.each($("#botones button"), function(i, el) {
                $(el).attr('disabled', true);
            });
        }
    });

    $("#boton-aprobacion").click(function() { // TODO: change button name at first, then validate
        var text = $(this).find('span')[0];
        var icon = $(this).find('i')[0];
        var aprobacion = document.getElementById("estado-aprobacion-{{ session['user_id'] }}");
        icon.className = "fas fa-spinner fa-spin";
        $.post("{{ url_for('approval') }}", {'nota': '{{ nota.num  }}'}, function(data) {
            flash(data['msg'], data['tipo']);
            if (data['aprobado']) {
                icon.className = "fas fa-times"
                text.innerHTML = 'Desaprobar';
            } else {
                icon.className = "fas fa-check"
                text.innerHTML = 'Aprobar';
            }
            aprobacion.classList.toggle('far');
            aprobacion.classList.toggle('fas');
        });
    });

    $("#confirm_comment").click(function(a) {
        var comentario = document.getElementById("comment").value;
        if (!$.trim(comentario)) {
            flash("El comentario no puede estar vac&iacute;o", "error");
            return;
        }
        $.post("{{ url_for('comment') }}", data={'nota': '{{ nota.num }}', 'comment': comentario}, function(data) {
            flash(data['msg'], data['tipo']);
            closeCommentModal();
            
            // Update view
            var num_table = $(".comments_table_div").length - 1; // Can only comment the last one
            var num_row = $("#comments_table_" + num_table + "tr").length;
            var comment_info = data['info'];
            var comment_name = data['nombre'];
            if (data['contenido'].length > 80) {
                var comment_content = `
                <div class="popup">
                    ${data['contenido'].substring(0, 77) + '...'}
                    <span class="popuptext" id="popup-comentario-${num_table}-${num_row}">${comentario}</span>
                </div>
            `;
            }
            else {
                var comment_content = data['contenido'];
            }
            
            var row = document.getElementById("comments_table_" + num_table).insertRow(-1);
            row.className = "row";
            cell = row.insertCell(-1);
            cell.innerHTML = comment_info;
            cell.className = "text-center";
            row.insertCell(-1).innerHTML = comment_content;
            cell = row.insertCell(-1);
            cell.innerHTML = comment_name;
            cell.className = "text-center";
            row.onclick = function() {
                verComentario(num_table + "-" + num_row);
            };
        });
    });
    
    function verComentario(i) {
        var popup = document.getElementById("popup-comentario-" + i);
        if (popup) {
            popup.classList.toggle("show");
        }
    }

    function selectVersion(i) {
        // Update dropdown
        var dropdown = document.getElementById("dropdown-versiones");
        dropdown.getElementsByClassName("active")[0].classList.remove("active");
        if (i >= 1) {
            var version = dropdown.getElementsByTagName("li")[i+1];
        } // Avoid the separator, which is also a <li>
        else {
            var version = dropdown.getElementsByTagName("li")[i];
        }
        version.classList.add("active");
        document.getElementById("current-version").innerHTML = version.children[0].innerHTML;

        // Update table
        var num_table = $(".comments_table_div:visible")[0].id.split("_").slice(-1)[0];
        $("#comments_table_div_" + num_table).slideToggle("slow", function() {
            $("#comments_table_div_" + i).slideToggle("slow");
        });

        // Update buttons
        if (i != $(".comments_table_div").length - 1) {
            $.each($("#botones button"), function(i, el) {
                $(el).attr('disabled', true);
            });
        }
        else {
            $.each($("#botones button"), function(i, el) {
                $(el).attr('disabled', false);
            });
        }
    }

    // When the user clicks the button, open the modal 
    document.getElementById("boton_comentar").onclick = function() {
        document.getElementById('commentModal').style.display = "block";
    };

    // When the user clicks on the button, open the modal 
    document.getElementById("uploadButton").onclick = function() {
        document.getElementById('uploadModal').style.display = "block";
    };

    $("#boton-cerrar-nota").click(function() { // TODO: change button name at first, then validate
        var text = $(this).find('span')[0];
        var icon = $(this).find('i')[0];
        icon.className = "fas fa-spinner fa-spin";
        $.post("{{ url_for('cerrar_nota') }}", {'id_nota': '{{ nota.id }}'}, function(data) {
            flash(data['msg'], data['tipo']);
            location.reload(); // TODO cambiar texto de botones con jquery (quitar reload)
        });
    });

</script>

{% endblock %}
